html, body {
  height: 100%; }

header {
  width: 100%;
  position: relative;
  padding: 1rem; }
  header nav {
    position: absolute;
    right: 1rem;
    top: 1.5rem; }
  header img {
    height: 100px;
    margin: 15px; }

section.jumbotron h1 {
  color: white;
  text-align: center;
  text-transform: uppercase;
  font-family: "Fjalla One";
  margin: 1.5em 0 1em; }

section {
  background: white;
  padding: 2rem;
  text-align: center; }
  section:nth-child(2n + 1) {
    background: #eeeeee; }
  section.hero {
    background: #2b4a5d; }

.staff-photo {
  display: inline-block;
  width: 33.333%;
  height: 100px; }

/*   Cool Hamburger Animation
 *     by Daniel Eden (@daneden)
 *        http://codepen.io/daneden/pen/FaiHD */
.toggle {
  visibility: hidden;
  position: absolute;
  left: -9999px; }

.hamburger {
  margin: -8px -16px;
  display: block;
  width: 32px;
  height: 16px;
  position: relative;
  transition: 0.2s;
  transition-delay: 0.15s;
  -webkit-tap-highlight-color: transparent; }
  .hamburger i {
    display: block;
    text-indent: 100%;
    overflow: hidden;
    white-space: nowrap;
    height: 1px;
    background-color: black;
    width: 100%;
    position: absolute;
    top: 50%;
    transition: 0.3s;
    transition-delay: 0.2s; }
  .hamburger:after, .hamburger:before {
    content: "";
    position: absolute;
    top: 0;
    height: 0;
    border-bottom: 1px solid black;
    width: 100%;
    left: 0;
    right: 0;
    transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -webkit-transform-origin: left top; }
  .hamburger:after {
    top: 100%;
    -webkit-transform-origin: left bottom; }

.toggle:checked + .hamburger {
  -webkit-transform: translate3d(16px, 0, 0);
  transition-delay: 0.2s; }
  .toggle:checked + .hamburger i {
    opacity: 0;
    transition-delay: 0; }
  .toggle:checked + .hamburger:after {
    -webkit-transform: rotate3d(0, 0, 1, -135deg) translate3d(-8px, 4px, 0); }
  .toggle:checked + .hamburger:before {
    -webkit-transform: rotate3d(0, 0, 1, 135deg) translate3d(-8px, -4px, 0); }

/* End of Cool Hamburger Animation */
/* Buttons */
.button {
  text-transform: uppercase;
  background-color: #1bbb9b; }
